/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer-box{

    border: 3px solid #234378;
    width: 400px;
    height: 87vh;
    border-radius: 5px;
    box-shadow: 10px 10px #F1F1F1;
}
.input-container{
    width: 100%;
    height:50%;
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
  
    
}
.input-container span{
    border: 1px solid grey;
    width:33.33%;
    text-align: center;
    padding-top: 50px;
    background-color: #234378;
    color: grey;
    text-decoration: none;
    cursor: pointer;
    
}


.display-value{

    width:100%;
   height:10%;
    background-color: #234378;
    
    text-decoration: none;
    color:white;
    font-size: 20px;
    display:inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.box-container{
    width: 100%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    
}
.box-container span{
    border: 1px solid grey;
    width:33.33%;
    text-align: center;
    padding-top: 50px;
    background-color: #234378;
    color: grey;
    text-decoration: none;
    cursor: pointer;
    
}
 

.result-container{
    border: 1px solid GREY;
    width: 100%;
    height: 14%;
    background-color: #234378;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color:white;
    font-size: 20px;
}

.result-container a {
    text-decoration: none;
    border-radius:4px;
    background-color: grey;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    float: right;
    
}
#clear:hover{
    background-color: white;
}


 .result-container input{
    width: 100%;
    
    background-color: #234378;
    text-decoration: none;
    color:white;


 }

 .num-container{
    cursor: pointer;
 }
 
 .operator-container{
    cursor: pointer;
 }
 